body {
    font-family: 'Ubuntu:400', sans-serif;
    width: 100vw;
}

.bg-container{
    background-image: url("background.jpg");
    height: 100vh;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    text-align: center;
    font-size: 1rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar ul li{
    text-align: center;
    padding-inline: 2rem;
}

.material-icons.face-icon{
    font-size: 1rem;
}

.logo {
    margin-top: 2.5rem;
    margin-right: auto;
    margin-left: auto;
    height: 15%;
    width: 15%;
}

.title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 700;
    color: white;
}